<article class="servicio">
    <div class="contenido">
        <i class="<%= servicio.claseIcono %>"></i>
        <h2 class="titulo"><strong><%= servicio.nombreServicio %></strong></h2>
        <p class="descripcion"><%= servicio.descripcion %></p>
        <p class="descripcion2"><%= servicio.descripcion2 %></p> <br>
        <p class="descripcion3"><%= servicio.descripcion3 %></p><br>
        <p class="descripcion4"><%= servicio.descripcion4 %></p> <br>
    </div>
</article>