<!DOCTYPE html>
<html lang="es">
<head>
     <!--head partial-->
     <%- include('../partials/head', {css:'/css/detalleReserva.css'}); %>
     <!--fin partial-->
</head>
<body>
    <main>
      
    <%- include('../partials/header'); %>
    <section class="principal__section section--migadepan">
      <div class="contenedor contenedor--migadepan">
         <%- include('../partials/migaDePan', {local: 'detalle usuarios'}); %> 
      </div>
    </section>
  <!--CONTENIDO-->
  <section class="detalle-reserva">
    <div class="card">
        <h2>Detalles del usuario</h2>
        <p><strong>ID Usuario:</strong><%= usuario.idUsuarios %></p>
        <p><strong>Nombre:</strong> <%= usuario.nombre_completo %></p>
        <p><strong>correo:</strong><%= usuario.correo %></p>
        <p><strong>teléfono:</strong> <%= usuario.telefono %></p>
        <p><strong>Tipo de residente:</strong> <%= usuario.tipo_residente %></p>
        <p><strong>apartamento:</strong> <%= usuario.apartamento %></p>
        <p><strong>Foto de perfil:</strong></p>
          <img src="/<%= usuario.foto %>" alt="Foto" class="detalle-reserva__foto">
        <section>
                
          <% let roles = ""; %>
          <% if (usuario.rol_idRol === 1) { %> 
              <% roles = "Administrador"; %>
          <% } else if (usuario.rol_idRol === 2) { %>
              <% roles = "Residente"; %>
          <% } else if (usuario.rol_idRol === 3) { %>
              <% roles = "Particular"; %>
          <% } %>
          <p><strong>Rol:</strong> <%= roles %></p>
  </section>
        <div class="actions">
          <a href="/usuarios/panelAdmin" class="confirm">volver atras</a>
      </div>
    </div>
</section>
  <!--FIN CONTENIDO-->
</main>
    <%- include('../partials/footer'); %>
  </body>
</html>
