<!DOCTYPE html>
<html lang="es">
<head>
    <!--head partial-->
    <%- include('../partials/head', {css:'/css/creacionReservaAdmin.css'}); %>
    <!--fin partial-->
</head>
<body>
    <%- include('../partials/header'); %>
    <section class="principal__section section--migadepan">
      <div class="contenedor contenedor--migadepan">
         <%- include('../partials/migaDePan', {local: 'modificar reservas'}); %> 
      </div>
    </section>

    <h2 class="formulario__titulo">Modificar reserva </h2>
    <section class="formulario">
        <article class="formulario__contenido">
            <form action="/reservas/admin/<%=reserva.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="formulario__form">
                <!--<div class="formulario__grupo">
                    <label for="nombre" class="formulario__label">Nombre Completo:</label>
                    <input type="text" id="nombre" name="nombre" class="formulario__input" placeholder="nombre completo" required>
                </div>-->
                <div class="formulario__grupo">
                    <label for="fechaReserva" class="formulario__label">Fecha de reserva:
                        <div class="tooltip-container">
                            <input type="date" id="fechaReserva" name="fechaReserva" class="formulario__input reserva-inicial" value="<%= reserva.fechaReserva %>" required>
                            <div class="tooltip">La reserva se debe hacer 8 dias antes del evento</div>
                        </div>
                    </label>
                    <label for="fechaEvento" class="formulario__label">Fecha del Evento:
                    <input type="text" id="fechaEvento" name="fechaEvento" class="formulario__input" value="<%= reserva.fechaEvento %>" required>
                    </label>
                </div>
                <div class="formulario__grupo">
                    <label for="tipo_evento" class="formulario__label">Tipo de Evento:</label>
                    <select id="tipo_evento" name="tipo_evento" class="formulario__input" required>
                        <option value="educativo" <%= reserva.tipo_evento === 'educativo' ? 'selected' : '' %>>Educativo</option>
                        <option value="laboral" <%= reserva.tipo_evento === 'laboral' ? 'selected' : '' %>>Laboral</option>
                        <option value="didactico" <%= reserva.tipo_evento === 'didactico' ? 'selected' : '' %>>Didáctico</option>
                        <option value="otro" <%= reserva.tipo_evento === 'otro' ? 'selected' : '' %>>Otro</option>
                    </select>
                </div>

                <div class="formulario__grupo">
                    <label for="asistentes" class="formulario__label">Cantidad de asistentes:
                    <input type="number" id="asistentes" name="asistentes" class="formulario__input" value="<%= reserva.asistentes%>" placeholder="1" required>
                    </label>
                </div>
                <div class="formulario__grupo">
                    <label for="hora_inicio" class="formulario__label">Hora de Inicio:</label>
                    <select id="hora_inicio" name="hora_inicio" class="formulario__input" required>
                        <option value="08:00" <%= reserva.hora_inicio === '08:00' ? 'selected' : '' %>>08:00 AM</option>
                        <option value="09:00" <%= reserva.hora_inicio === '09:00' ? 'selected' : '' %>>09:00 AM</option>
                        <option value="10:00" <%= reserva.hora_inicio === '10:00' ? 'selected' : '' %>>10:00 AM</option>
                        <option value="11:00" <%= reserva.hora_inicio === '11:00' ? 'selected' : '' %>>11:00 AM</option>
                        <option value="12:00" <%= reserva.hora_inicio === '12:00' ? 'selected' : '' %>>12:00 PM</option>
                        <option value="13:00" <%= reserva.hora_inicio === '13:00' ? 'selected' : '' %>>01:00 PM</option>
                        <option value="14:00" <%= reserva.hora_inicio === '14:00' ? 'selected' : '' %>>02:00 PM</option>
                        <option value="15:00" <%= reserva.hora_inicio === '15:00' ? 'selected' : '' %>>03:00 PM</option>
                        <option value="16:00" <%= reserva.hora_inicio === '16:00' ? 'selected' : '' %>>04:00 PM</option>
                        <option value="17:00" <%= reserva.hora_inicio === '17:00' ? 'selected' : '' %>>05:00 PM</option>
                        <option value="18:00" <%= reserva.hora_inicio === '18:00' ? 'selected' : '' %>>06:00 PM</option>
                        <option value="19:00" <%= reserva.hora_inicio === '19:00' ? 'selected' : '' %>>07:00 PM</option>
                        <option value="20:00" <%= reserva.hora_inicio === '20:00' ? 'selected' : '' %>>08:00 PM</option>
                        <option value="21:00" <%= reserva.hora_inicio === '21:00' ? 'selected' : '' %>>09:00 PM</option>
                        <option value="22:00" <%= reserva.hora_inicio === '22:00' ? 'selected' : '' %>>10:00 PM</option>
                    </select>
                </div>
                <div class="formulario__grupo">
                    <label for="hora_fin" class="formulario__label">Hora de Fin:</label>
                    <select id="hora_fin" name="hora_fin" class="formulario__input" required>
                        <option value="08:00" <%= reserva.hora_fin === '08:00' ? 'selected' : '' %>>08:00 AM</option>
                        <option value="09:00" <%= reserva.hora_fin === '09:00' ? 'selected' : '' %>>09:00 AM</option>
                        <option value="10:00" <%= reserva.hora_fin === '10:00' ? 'selected' : '' %>>10:00 AM</option>
                        <option value="11:00" <%= reserva.hora_fin === '11:00' ? 'selected' : '' %>>11:00 AM</option>
                        <option value="12:00" <%= reserva.hora_fin === '12:00' ? 'selected' : '' %>>12:00 PM</option>
                        <option value="13:00" <%= reserva.hora_fin === '13:00' ? 'selected' : '' %>>01:00 PM</option>
                        <option value="14:00" <%= reserva.hora_fin === '14:00' ? 'selected' : '' %>>02:00 PM</option>
                        <option value="15:00" <%= reserva.hora_fin === '15:00' ? 'selected' : '' %>>03:00 PM</option>
                        <option value="16:00" <%= reserva.hora_fin === '16:00' ? 'selected' : '' %>>04:00 PM</option>
                        <option value="17:00" <%= reserva.hora_fin === '17:00' ? 'selected' : '' %>>05:00 PM</option>
                        <option value="18:00" <%= reserva.hora_fin === '18:00' ? 'selected' : '' %>>06:00 PM</option>
                        <option value="19:00" <%= reserva.hora_fin === '19:00' ? 'selected' : '' %>>07:00 PM</option>
                        <option value="20:00" <%= reserva.hora_fin === '20:00' ? 'selected' : '' %>>08:00 PM</option>
                        <option value="21:00" <%= reserva.hora_fin === '21:00' ? 'selected' : '' %>>09:00 PM</option>
                        <option value="22:00" <%= reserva.hora_fin === '22:00' ? 'selected' : '' %>>10:00 PM</option>
                    </select>
                </div>
                <div class="formulario__grupo">
                    <label for="cantidadHoras" class="formulario__label">Cantidad de horas:
                    <input type="number" id="cantidadHoras" name="cantidadHoras" class="formulario__input" value="<%= reserva.cantidadHoras%>" placeholder="1" required>
                    </label>
                </div>
                <div class="formulario__grupo">
                    <label for="descripcion" class="formulario__label">Descripcion:
                    <input type="text" id="descripcion" name="descripcion" class="formulario__input" value="<%= reserva.descripcion%>" placeholder="descripcion" required>
                    </label>
                </div>
                <div class="formulario__grupo">
                    <label for="disponibilidad" class="formulario__label">Disponibilidad:</label>
                    <select id="disponibilidad" name="disponibilidad" class="formulario__input" required>
                        <option value="confirmada" <%= reserva.disponibilidad === 'confirmada' ? 'selected' : '' %>>Confirmada</option>
                        <option value="pendiente" <%= reserva.disponibilidad === 'pendiente' ? 'selected' : '' %>>Pendiente</option>
                        <option value="cancelada" <%= reserva.disponibilidad === 'cancelada' ? 'selected' : '' %>>Cancelada</option>
                    </select>
                </div>
                
                <div class="formulario__grupo" id="fotoPago">
                    <label for="fotoPago" class="formulario__label">Foto Pago:</label>
                    <% if (reserva.disponibilidad === 'confirmada' && reserva.fotoPago != null) { %>
                        <img src="/<%= reserva.fotoPago %>" alt="Foto del Pago" class="formulario__imagen-previa">
                    <% } %>
                    <% if (reserva.fotoPago === null) { %>
                      <img src="/img/imgNoDisp.png" alt="Foto del Pago" class="formulario__imagen-previa">
                  <% } %>
                    <input type="file" id="fotoPago" name="fotoPago" class="formulario__input">

                </div>
                <button type="submit" class="formulario__boton">Modificar Reserva</button>
            </form>
        </article>
        <article class="formulario__contenido">
            <img src="/img/modificarReserva.png" alt="" class="formulario__imagen">
        </article>
    </section>
    <%- include('../partials/footer'); %>
   <script src="/js/modificarReserva.js"></script>
</body>
</html>
