<!DOCTYPE html>
<html lang="es">
<head>
    <!--head partial-->
    <%- include('../partials/head', {css:'/css/perfil.css'}); %>
    <!--fin partial-->
</head>
<body>
    <%- include('../partials/header'); %>

        <section class="principal__section section--migadepan">
            <div class="contenedor contenedor--migadepan">
               <%- include('../partials/migaDePan', {local: 'Mi perfil'}); %> 
            </div>
          </section>

          <section class="principal__section section--perfil">
            <h2 class="titleOne">Hola <%= usuario.nombreCompleto %>
            </h2>
            <div class="contenedor contenedor--perfil">
                
                <div class="perfil__card perfil__card--izquierda">
                    <img src="/img/imgUsuarios/<%= usuario.foto %>" alt="Foto de perfil" class="perfil__imagen">
                    <div class="datos__perfil">
                        <h1 class="perfil__nombre"><%= usuario.nombreCompleto %></h1>
                        <p class="perfil__correo"><%= usuario.correo %></p>
                        <p class="perfil__telefono"><%= usuario.telefono %></p>
                        <button class="datos__button">
                            <a
                                href="#"
                                class="button-profile-edit">Editar Perfil<i
                                class="compra__icon fa-solid fa-pen-to-square"></i>
                            </a>
                        </button>
                    </div>
                </div>

                <article class="card__reserva">
                    <div class="contenido">
                        <i class="fa-solid fa-calendar"></i>
                        <h2 class="titulo"><strong>Reserva salon social</strong></h2>
                        <p class="descripcion">Acá usted podrá reservar el salón social, esta solicitud se debe hacer con 8 días de anticipación llenando el formulario que encontrara a continuación:</p> 
                        <button class="card__button"><a href="/reservas/user/create/">Reserva</a></button>
                        <a class="link_reglas" href="/documentos/reglasSalonSocial.pdf" target="_blank">Leer condiciones para alquilar el salón</a>
                    </div>
                </article>
    
                <div class="perfil__card perfil__card--derecha">
                    <h2 class="perfil__tabla-titulo">Historial de Reservas</h2>
                    <table class="perfil__tabla">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>fecha</th>
                                <th>descripción</th>
                                <th>tipo de evento</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>01/01/9999</td>
                                <td>Cumpleaños</td>
                                <td>otro</td>
                                <td><button class="ver-button">ver</button><button class="cancelar-button">Cancelar</button></td> <!-- Botón en cada fila -->
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>01/01/9999</td>
                                <td>Junta</td>
                                <td>educativo</td>
                                <td><button class="ver-button">ver</button><button class="cancelar-button" >Cancelar</button></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>01/01/9999</td>
                                <td>baby shower</td>
                                <td>otro</td>
                                <td><button class="ver-button">ver</button><button class="cancelar-button" >Cancelar</i></button></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>01/01/9999</td>
                                <td>Cumpleaños</td>
                                <td>didactico</td>
                                <td><button class="ver-button">ver</button><button class="cancelar-button">Cancelar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    
    </section>
    <%- include('../partials/footer'); %>
</body>
</html>
