<!DOCTYPE html>
<html lang="es">
<head>
    <!--head partial-->
    <%- include('../partials/head', {css:'/css/perfil.css'}); %>
    <!--fin partial-->
</head>
<body>
    <%- include('../partials/header'); %>

        <section class="principal__section section--migadepan">
            <div class="contenedor contenedor--migadepan">
               <%- include('../partials/migaDePan', {local: 'Mi perfil'}); %> 
            </div>
          </section>

          <section class="principal__section section--perfil">
            <h2 class="titleOne">Hola <%= usuario.nombre_completo %>
            </h2>
            <div class="contenedor contenedor--perfil">
                
                <div class="perfil__card--izquierda">
                    <% if (usuario.rol_idRol === 1) { %> 
                        <img src="/img/imgUsuarios/<%= usuario.foto %>" alt="Foto de perfil (Admin)" class="perfil__imagen">
                    <% } else { %> 
                        <img src="/img/imgUsuarios/<%= usuario.foto %>" alt="Foto de perfil" class="perfil__imagen">
                    <% } %>
                    <div class="datos__perfil">
                        <h1 class="perfil__nombre"><%= usuario.nombre_completo %></h1>
                        <p class="perfil__correo"><%= usuario.correo %></p>
                        <p class="perfil__telefono"><%= usuario.telefono %></p>
                        <button class="datos__button">
                            <a
                                href="/usuarios/perfil/edit/<%=usuario.idUsuarios%>?_method=PUT"
                                class="button-profile-edit">Editar Perfil<i
                                class="compra__icon fa-solid fa-pen-to-square"></i>
                            </a>
                        </button>
                    </div>
                </div>

                <article class="card__reserva">
                    <div class="contenido">
                        <i class="fa-solid fa-calendar"></i>
                        <h2 class="titulo"><strong>Reserva salon social</strong></h2>
                        <p class="regla"><u>Recuerda que, si deseas cancelar la reserva, debes hacerlo con al menos dos días de anticipación. De lo contrario, se reembolsará únicamente el 50% del importe de la reserva.</u></p> 
                        <p class="descripcion">Acá podras reservar el salón social, esta solicitud se debe hacer con 8 días de anticipación llenando el formulario que se encontrara a continuación:</p> 
                        <button class="card__button"><a href="/reservas/perfil/create">Reserva</a></button>
                        <a class="link_reglas" href="/documentos/reglasSalonSocial.pdf" target="_blank">Leer condiciones para alquilar el salón</a>
                    </div>
                </article>
    
                <div class="perfil__card--derecha">
                    <h2 class="perfil__tabla-titulo">Historial de Reservas</h2>
                    <div class="tabla__scroll">
                    <table class="perfil__tabla">
                        <thead>
                            <tr class="cabecero">
                                <th>ID</th>
                                <th>fecha Evento</th>
                                <th>tipo de evento</th>
                                <th>Disponibilidad</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% reservasEnPerfil.forEach((reserva,index)=> { %>
                                <tr>
                                    <th scope="row">
                                        <%= index + 1 %>
                                    </th>
                                    <td><%= reserva.fecha_evento %> </td>
                                    <td><%= reserva.tipo_evento %> </td>
                                    <td><%= reserva.disponibilidad %> </td>
                                    <td><a class="btn btn-warning btn-sm"
                                            href="/reservas/perfil/detalle/<%=reserva.idReserva %>">
                                            <i class=" ver-button fas fa-eye"></i>
                                        </a>
                                        <a class="btn-delete">
                                            <form action="/reservas/<%=reserva.idReserva%>?_method=DELETE" method="POST" class="delete-form">
                                                <button class="delete" data-reserva-id="<%= reserva.idReserva %>"><i class="reservas__icon fa-solid fa-trash-can"></i></button>
                                            </form>
                                        </a>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                   </div>
                </div>
            </div>
        </section>
    
    </section>
    <%- include('../partials/footer'); %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/botonEliminar.js"></script> 
</body>
</html>
